zig-out
.zig-cache
target
bindings/rust/target
bindings/rust/target*/
bindings/python/target
*.crate
.DS_STORE
notes
__pycache__
.pytest_cache
bindings/python/python/zova/*.so
bindings/python/python/zova/*.pyd
bindings/python/python/zova/*.dylib
